@tailwind base;
@tailwind components;
@tailwind utilities;

/* // reset everything */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  /* border: 0 solid transparent; */
}

/* // reset body line-height */
body {
  min-height: 100vh;
  line-height: 1;
  text-rendering: optimizeSpeed;
}
